*,
*:before,
*:after {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
dl {
  margin: 0;
  padding: 0;
}
dt {
  float: left;
  clear: left;
  text-align: right;
}
dd {
  text-align: left;
}
body {
  background-color: #7ec0ee;
  padding: 1em;
}
input {
  border: none;
  border-radius: .25em;
  padding: .5em .25em;
  width: 100%;
  text-align: center;
  font-size: 1.25em;
}
.search-button {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  width: 1.5em;
  height: 1.5em;
  background: transparent url(../images/search_icon.png) center;
  background-size: contain;
  border: none;
  z-index: 999;
}
.forecast-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 1em;
}
.forecast-container .forecast-item {
  flex: 1 0 calc(14.28571429%);
  padding: .5em;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #7ec0ee;
  font-size: .9em;
  text-align: center;
}
.forecast-container .forecast-item:first-child {
  margin-left: 0;
}
.forecast-container .forecast-item:last-child {
  margin-right: 0;
}
.weather-info {
  display: flex;
  align-items: center;
}
.weather-info .weather-info-item {
  margin-right: 1em;
  text-align: center;
}
.date {
  margin-bottom: .5em;
  font-weight: bold;
}
.desc {
  text-transform: capitalize;
}
